@import url(https://fonts.google.com/specimen/Poppins);
:root{
--primary-color :#081C15;
--secondary-color:#001845 ;
--accent1-color :#03045e ;
--accent2-color :#03045e;

--heading-font: Poppins;
--paragraph-font:Poppins;
--nav-background-color:#03071e;
--nav-link-color:#cad2c5;
--nav-hover-link-color:#edf6f9;
--nav-hover-background-color:#0a9396;

}

*{
    width: 640px;
}

.hero img{
    float: right;
    display: block;
    width: 100%;
    height: auto;

}
.article{
    position: absolute;
}
.h1{
    position: absolute;
    
}
.h1 img{
    float: right;
}


