@import url(https://fonts.google.com/specimen/Poppins);
:root{
--primary-color :#081C15;
--secondary-color:#001845 ;
--accent1-color :#03045e ;
--accent2-color :#03045e;

--heading-font: "-----", Montserrart;
--paragraph-font:"-----", Poppins;

--nav-background-color:#03071e;
--nav-link-color:#cad2c5;
--nav-hover-link-color:#edf6f9;
--nav-hover-background-color:#0a9396;
}
body{
f-------:  var(--paragraph-font)
m-------: ------;
p-------: ------;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}
nav a : link, nav a : :visited{
    color: var(--nav-link-color);
}
nav a : :hover{
    color: var(--nav-hover-link-color);
}